$font-stack: Helvetica, sans-serif
$primary-color: red

$primary-background-color: aliceblue
$thin-border: 1px solid black

body 
  background-color: $primary-background-color
  width: 98wv
  height: 98hw

button
  font-family: "Oswald", sans-serif
  font-weight: 200
  font-size: xx-large
  color: white
  border: $thin-border
  margin: 1px
  padding: 10px
  width: 15rem
  background-color: black

  &:hover
    color: red

nav
  display: flex
  justify-content: center
  gap: 10px

div
  font-family: "Oswald", sans-serif
  font-weight: 200