$font-stack: Helvetica, sans-serif
$primary-color: red

$primary-background-color: aliceblue
$thin-border: 1px solid black

button
  font-weight: lighter
  font-size: 40px
  color: blue
  background: $primary-background-color
  border: $thin-border
  margin: 1px
