//fonts settings 
$font: "Oswald", sans-serif
$weight-light: 200
$primary-color: white
$hover-color: red

//background-settings
$primary-background-color: black

//Here are global styles 
// scoped styles are inside the components
  // scoped styles in: 
  // WelcomePage,
div
  font-family: $font
  font-weight: $weight-light
  color: $primary-color

main 
  display: flex
  flex-direction: column
  margin: auto
  justify-content: center
  font-family: $font
  font-weight: $weight-light

.nav-bar
  display: flex
  text-align: center
  justify-content: center
  gap: 30px

.portfolio-page-nav
  width: 600px
  display: flex
  flex-wrap: wrap
  align-self: center
  align-content: center

.ganre-preview
  width: 300px
  height: 300px
  display: flex
  flex-direction: column
  align-items: center
  text-align: center
  overflow: hidden

.nav-bar-btn
  color: $primary-color
  font-size: xx-large 
  padding: 10px
  margin: 10px
  width: 10rem
  text-decoration: none

  &:hover
    color: $hover-color

section
  display: flex
  flex-direction: row
  flex-wrap: wrap
  gap: 20px
  align-content: center
  justify-content: center
  margin-top: 2em

.preview-img
  max-width: 200px
  max-height: 200px
  height: auto
  width: auto

  &:hover
    max-width: 210px
    max-height: 210px

.photo
  display: flex
  flex-direction: column
  align-items: center
  margin: auto
  height: 90vh
  font-weight: 200

.photocard 
  max-width: 85%
  max-height: 85vh
  height: auto
  width: auto

.title
  font-weight: $weight-light
  font-size: large

.info
  font-size: small
  font-style: italic